header{
    background-image: url(explore.jpg);
   background-size: cover;
    height: 100vh;
    background-position: center;
    background-blend-mode:luminosity;
    
}

.class{
    color:white;
 
    
}

.q{
    color: #fff;
    position: relative; top: 100px;
}


.head{
    text-align: center;
    color: white;
    font-style: italic;
    font-family:'Times New Roman', Times, serif;
    margin-top: 30px;
    width: 30%;
    transform: translate(110%);
    -webkit-animation: head 1s ease-in-out infinite alternate;
  -moz-animation: head 1s ease-in-out infinite alternate;
  animation: head 1s ease-in-out infinite alternate;    
}
@-webkit-keyframes head {
  from {
    text-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 30px #fff, 0 0 40px #fff, 0 0 50px #fff, 0 0 60px #fff, 0 0 70px #fff;
  }
  
  to {
    text-shadow: 0 0 20px #fff, 0 0 30px #fff, 0 0 40px #fff, 0 0 50px #fff, 0 0 60px #fff, 0 0 70px #fff, 0 0 80px #fff;
  }
}
*{
    margin: 0;
    padding: 0;

    font-family: Century 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
.f
{
    color: #000 ;
    font-family: Arial, Helvetica, sans-serif;
    transform: translate(700px,-50px);
}


.box{
    
    box-sizing:border-box;
    color: #fff;
    text-align: center;   
    border: 1px white solid;
    padding: 30px 30px;
    margin: 20px 0;
    float: right;
    width: 70%;
    position: absolute;
    font-size: large;
    font-family: 'Open Sans', sans-serif;
    transform:translate(250px,450px);

}

.box:hover{
    background-color: white;
    transition: 0.1s ease;
    color: black;
    box-shadow: 0 0 20px #fff, 0 0 40px #fff, 0 0 60px #fff;
}

ul{
    list-style-type:none;
    float: right;
}
ul li{
    display: inline-block;
    size: 10px;
    position: relative; bottom: 60px;right: 10px;
}
ul li a{
    text-decoration: none;
    color: #fff;
    padding: 5px 20px;
    border: 1px solid #fff transparent;
    transition: 0.1s ease;    
}

ul li a:hover{
    background-color: #fff;
    color: black;
}


a{
    position: relative;
    display: inline-block;
    padding: 10px 30px;
    color:#fff;
    text-transform: 0;
}


a:hover{
    color:#000;
    background: #fff;
    box-shadow: 0 0 20px #fff, 0 0 40px #fff, 0 0 60px #fff;
    transition-delay: 0.1s;
}

.h{
    background-image: url(batman.jpg) ;
    background-opa;
    background-size: cover;
    height: 100vh;
    background-position: center;
    background-blend-mode:luminosity;
    
}
.h{
    opacity: 95%;
}