h1{
    font-size:36px;
    color:#000;
    font-weight:800;
}
h1 :hover{
    color:#f00;
    transition: all 0.3s ease;
}
#i{
    color:100100100;

}

h2 + ul{
    border: 10px solid yellow ;
}
a[href="https://www.facebook.com"]
{
    background-color: royalblue;
}
ul:nth-of-type(2){
    background-color: violet;
}
.nav li{
    line-height:50px;
    height:50px;
}