body{
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background:white;
    font-family: cursive;
}
a{
    position: relative;
    display: inline-block;
    padding: 10px 30px;
    color: #2196f3;
    text-transform: uppercase;
}

/*a:hover{
    color:#255784;
    background: #2196f3;
    box-shadow: 0 0 20px #2196f3, 0 0 40px #2196f3, 0 0 60px #2196f3;
    transition-delay: 0.1s;
}*/
a span{
    position: absolute;
    display: block;
}
a span:nth-child(1)
{
    top: 0;
    left: -10%;
    width: 40%;
    height: 2px;
    background: linear-gradient(90deg,transparent,#2196f3);
}
a:hover span:nth-child(1)
{
    left: 50%;
    transition: .1s;

    
}

a span:nth-child(2)
{
    bottom: 0;
    right: -10%;
    width: 40%;
    height: 2px;
    background: linear-gradient(270deg,transparent,#2196f3);
}
a:hover span:nth-child(2){
    right:50%;
    transition: .1s;
         
} 


a span:nth-child(3)
{
    top: -20%;
    right: 10% ;
    width: 2px;
    height: 50%;
    background: linear-gradient(180deg,transparent,#2196f3);
}
a:hover span:nth-child(3){
    top:40%;
    transition: .1s;
         transition-delay: 0.01s;
} 

a span:nth-child(4)
{
    bottom: -20%;
    left: 10% ;
    width: 2px;
    height: 50%;
    background: linear-gradient(360deg,transparent,#2196f3);
}
a:hover span:nth-child(4){
    bottom:40%;
    transition: .1s;
    transition-delay: 0.01s;
         
} 

